@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url(menu.css);
@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&family=Staatliches&display=swap');
@import url(style.css);
@import url(habilidades.css);
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
/* Principal */
body {
    background: url(../img/fondo.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    font-size: 70px;
    color: white;
    text-align: center;
}

p {
    font-weight: 700;
    font-family: "Sawarabi Gothic", sans-serif;
    color: white;
}

h2 {
    font-family: "staatliches", sans-serif;
    color: white;
}

a {
    color: white !important;
}

* {
    box-sizing: border-box;
}

/* Estilo inputs */
input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: rgb(22, 21, 21);
}

/* Estilo container/contact section */
.container {
    border-radius: 5px;
    background-color: #820000;
    padding: 10px;
}


.column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
}


.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive */
@media screen and (max-width: 600px) {

    .column,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

/* Botones Redes Sociales*/
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }
  .fa-whatsapp{
      background: #075E54;
      color: white;
  }
  .fa-envelope{
      background: #D44638;
      color: white;
  }