@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url(menu.css);
@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&family=Staatliches&display=swap');
@import url(style.css);
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

body {
    background: url(../img/fondo.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.b-skills {
    padding-top: 46px;
    text-align: center;
}

.b-skills:last-child {
    margin-bottom: -30px;
}

.b-skills h2 {
    margin-bottom: 50px;
    font-weight: 900;
    text-transform: uppercase;
}

.skill-item {
    position: relative;
    max-width: 250px;
    width: 100%;
    margin-bottom: 30px;
    color: white;
}

.chart-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 100%;
    margin-bottom: 27px;
}

.skill-item .chart,
.skill-item .chart canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

.skill-item .chart:before {
    content: "";
    width: 0;
    height: 100%;
}

.skill-item .chart:before,
.skill-item .percent {
    display: inline-block;
    vertical-align: middle;
}

.skill-item .percent {
    position: relative;
    line-height: 1;
    font-size: 40px;
    font-weight: 900;
    z-index: 2;
}

.skill-item .percent:after {
    content: attr(data-after);
    font-size: 20px;
}

p {
    font-weight: 700;
    font-family: "Sawarabi Gothic", sans-serif;
    color: white;
}

h2 {
    font-family: "staatliches", sans-serif;
    color: white;
}

button {
    background-color: none;
    color: #ccc;
    width: 200px;
    height: 80px;
    border: 4px solid black;
    background-color: #820000;
    font-size: 18px;
    border-radius: 10px;
    transition: .6s;
    overflow: hidden;
}

a {
    color: white;
}