@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url(menu.css);
@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

body,
html {
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Barra de navegación*/
header {
  width: 100%;
  height: 60px;
  background-color: black;
  color: #fff;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.contenedor_1 {
  width: 98%;
  margin: auto;
}

h1 {
  font-family: "staatliches", sans-serif;
  padding: 10px;
  float: left;
}

h2 {
  font-family: "staatliches", sans-serif;
}

p {
  font-family: "Sawarabi Gothic", sans-serif;
}

a{
  font-size: 20px;
  font-family: "Sawarabi Gothic", sans-serif;
  color: white !important;
}

h3 {
  color: white;
  font-family: 'Dancing Script', cursive;
}

header .contenedor_1 {
  display: table;
}

/* parallax */

@media screen and (max-width:250px) {
  header .textos h1 {
    font-size: 75px;
  }

  .uno {

    -webkit-clip-path: circle(0% at 100% 0%);
    clip-path: circle(0% at 100% 0%);

  }

  .dos {

    -webkit-clip-path: circle(150% at 100% 0%);
    clip-path: circle(150% at 100% 0%);

  }
}

.pimg1,
.pimg2,
.pimg3 {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  /*
    fixed = parallax
    scroll = normal
  */
  background-attachment: fixed;
}

.pimg1 {
  background-image: url('../img/fondo.png');
  min-height: 100%;
}

.pimg2 {
  background-image: url('../img/fondo2.svg');
  min-height: 400px;
}

.pimg3 {
  background-image: url('../img/fondo3.png');
  min-height: 400px;
}

.section {
  padding: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.section-dark {
  background-color: #820000;
  color: #ddd;
}

.section-dark2 {
  background-color: #820000;
  color: #ddd;
}

.ptext {
  font-family: "staatliches", sans-serif;
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 30px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.ptext .border {
  background-color: #000;
  color: #fff;
}

.ptext .border.trans {
  background-color: transparent;
}

.logotipo {
  background-color: white;
}

.trabajos3 {
  color: #fff;
}

.foto-profesional {
  width: 250px;
  padding: 10px;
}
@media(max-width:250px) {

  .pimg1,
  .pimg2,
  .pimg3 {
    background-attachment: scroll;
  }
}